<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>

  <body>
    <h1>Welcome to the Mega Random Giphy MMS Magical Generator Machine!!</h1>
    <div id="form">
      <form action="/" method="POST">
        <p>Enter info here:</p>
        <input type="text" name="recipient" placeholder="enter recipient name" size="30"><br>
        <br>
        <input type="text" name="number" placeholder="enter recipient phone number" size="30"><br>
        <br>
        <input type="text" name="keyword" placeholder="enter giphy search keyword" size="30"><br>
        <br>
        <textarea name="message" cols="50" rows="3" placeholder="enter a short greeting for recipient" size="100"></textarea><br>
        <br>
        <input type="text" name="sender" placeholder="enter your name (sender)" size="30"><br>
        <br>
        <input type="submit">
      </form>
    </div>
  </body>
</html>

