html, .body {
  height: 100%;
  background: rgb(206,233,38);
  background: linear-gradient(90deg, rgba(190,52,52,1) 0%, rgba(206,233,38,1) 45%, rgba(104,104,184,1) 100%);
}

form {
  font-size: 24px;
  text-align: center;
	width:30%;
  margin: 50px auto;
	border:2px solid black;
  border-radius: 9px;
  padding:30px;
}

.username {
	padding:5px;
	margin:5px;
 }


.choose-team {
  font-size: 1.8em;
  margin: 2%;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 4px solid grey;
}

.teams {
  text-align: center;
}
