server {
  listen 81;
  server_name localhost;

  access_log off;
  allow 127.0.0.1;
  allow 172.19.0.0/16;
  allow 192.168.0.0/16;
  deny all; 

  location /nginx_status {
    # Choose your status module

    # freely available with open source NGINX
    stub_status;

    # for open source NGINX < version 1.7.5
    # stub_status on;

    # available only with NGINX Plus
    # status;
  }
}
