{% extends "base.html" %}
{% load i18n pages_tags %}
{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}
AWS Step by Step
    <small class="text-muted"><small>
        shows useful methods by AWS solution architect Professional
    </small></small>
{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}
{% comment "Ideally Iterate" %}
Ideally iterate page.title, but not work. Refer Readme for detail.
This comment block cannot be inserted between blocktrans.
{% endcomment %}
{% blocktrans %}

                <div class="col-md-4">
                    <a href="/aws/basic/">Tutorial</a>
                    <p class="text-center">
                    <ul><a href="/aws/tutorial/ec2/">EC2</a></ul>
                    <ul><a href="/aws/tutorial/sg/">Security Group</a></ul>
                    <ul><a href="/aws/tutorial/rds/">RDS</a></ul>
                    <ul><a href="/aws/tutorial/afterward/">afterwards</a></ul>
                    </p>
                </div>
                <div class="col-md-4">
                    <a href="/aws/intermediate/">Utilization</a>
                    <p class="text-center">
                    <ul><a href="/aws/design/">Simple Design</a></ul>
                    <ul><a href="/aws/implementation/">Make rules before implement</a></ul>
                    <ul><a href="/aws/maintenance/">Minimum Maintenance</a></ul>
                    <ul><a href="/aws/practice/">DevOps practice</a></ul>
                    </p>
                </div>
                <div class="col-md-4">
                    <a href="/aws/advanced/">Development</a>
                    <p class="text-center">
                    <ul><a href="/aws/teamwork/">Invest into Teamwork</a></ul>
                    <ul><a href="/aws/automation/">Deploy Automatically </a></ul>
                    <ul><a href="/aws/mindset/">Common Mindset</a></ul>
                    <ul><a href="/aws/development/">What is under "Development"</a></ul>
                    </p>
                </div>
{% endblocktrans %}
{% endblock %}
