{% extends "layout.html" %}

{% block title %} Home {% endblock %}

{% block head %} {{ super() }} {% endblock %}

{% block content %}

<div class="app-header">
  <div class="jumbotron jumbotron-fluid" style="text-align:center;">
    <div class="container">
      <h2 class="display-4">
         <img class="datadog-img" src="/static/assets/datadog.png" alt="Datadog Image">
         Pokemon Go Initiation
      </h2>
      <p style="font-size: 14px">Ben Basuni - Solutions Engineer @ Datadog</p>
      <hr>
    </div>
  </div>
</div>

<div class="app-quotes">
  <h2>Select a Team</h2>
  <a href="./v1/team/valor"><button type="button" class="btn btn-danger">Team<br>Valor</button></a>
  <a href="./v1/team/mystic"><button type="button" class="btn btn-primary">Team<br>Mystic</button></a>
  <a href="./v1/team/instinct"><button type="button" class="btn btn-warning">Team<br>Instinct</button></a>
</div>

<div class="app-math"></div>

<div class="app-weather"></div>

{% endblock %}

<!--
<div class="math-game">
  <a href="./v1/math/game"><button type="text">NBA Finals 2018</button></a>
</div>

<div class="math-game">
  <a href="./v1/math/game"><button type="text">NBA Finals 2018</button></a>
</div>
-->
