<h2> A photo gallery application</h2>
<div id="introduction">Below are a list of galleries that contain images of animals.</div>

<h2>Galleries</h2>

<a href="/galleries/new">New Gallery</a>

<div id="galleries">
  <ul>
    <% @galleries.each do |gallery|%>
      <li>
        <a href='galleries/<%= gallery.id %>'><%= gallery.name %></a>
      </li>
    <% end %>
  </ul>
</div>
