<!DOCTYPE html>
<!-- A gallery page -->
<html>

  <head>
    <meta charset="UTF-8">
    <title>My Web Gallery</title>
  </head>

  <body>
    <h1>Pixter</h1>
    <a href="/">HOME</a><br>
    <%= yield %>		
  </body>
</html>
