<h2>Create New Gallery</h2>

<form action= "/galleries" method= "POST">

  <div>
    <label for= "gallery_name">Gallery Name</label>
    <input type= "text" name="gallery[name]" id="gallery_name">
  </div>

  <div>
    <input type="submit" value="Create">
  </div>
</form>
